{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- UiKit Css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <!-- Uikit Css -->
</head>
{% block style %}
{% endblock %}
<body>
    {% block content %}
    {% endblock %}
</body>
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
<!-- UIkit JS -->
<!-- VueJs  -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- VueJs -->
<!-- Axios JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<!-- Axios JS -->

<!-- Custom Script -->
{% block script %}
{% endblock %}
<!-- Custom Script -->
</html>